<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <title>Item form</title>
</head>
<body>
<form class="form-horizontal" th:object="${itemForm}" th:action="@{/items/delete}" method="post">
    <h4>Delete?</h4>
    <input type="hidden" th:field="*{id}"/>
    <ul>
        <li th:text="*{name}"></li>
        <li><input type="checkbox" th:field="*{active}" th:disabled="${true}"></li>
    </ul>
    <button type="submit" name="action" value="delete">Confirm</button>
    <button type="submit" name="action" value="cancel">Cancel</button>
</form>
</body>
</html>